body{
    font-family: Arial, Helvetica;
}

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height: 90vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms_mt{
    margin-top: 70px;
}

.ms_round_border{
    border-radius: 20px;
}

.ms_game_ad_2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms_entity_fix{
    vertical-align: middle;
}

.ms_bg_lightgray_fix{
    background-color: #BEBCBB;
}

.ms_bg_darkblue-fix{
    background-color: #161C3B;
}

.ms_bg_lightblue_fix{
    background-color: #00439C;
}

.ms_logo_colorfix{
    filter: brightness(0) invert(1);
}


/* effects */

/* ssct2 effects */
/* note: use ms_rounded_border and border-primary on the classes */
.ms_border_click.ms_bclick_on{
    padding: 3px;
    border: 3px solid;
}

.ms_border_click.ms_bclick_off{
    padding: 3px;
    border: 3px solid transparent;
}

.ms_hover_translate:hover{
    transform: translate(0, -30px);
    
}

.ms_hover_translate{
    transition: all 300ms linear;
}